.DS_Store
draw
auxiliary.o
bbtsp.o
binencode.o
cheaptsp.o
condense.o
convert.o
dcjdist.o
invdist.o
inversion_median_alberto.o
iterate_tree.o
main.o
measure_time.o
median_solvers.o
queue.o
random.o
tree.o
uf.o
vns.o