.DS_Store
draw
auxiliary.o
bbtsp.o
binencode.o
cheaptsp.o
condense.o
convert.o
dcjdist.o
invdist.o
inversion_median_alberto.o
iterate_tree.o
main_large.o
main_small.o
measure_time.o
median_solvers.o
queue.o
random.o
tree.o
uf.o
vns.o
large_phylogeny
VNS_modifications.txt
newick_tree.txt

